body {
    color: white;
    background-color: black;
}

.title {
    text-shadow: 3px 3px 0px black;
    letter-spacing: 5px;
}

.header {
    font-family: 'Playfair Display';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    animation: type 2s steps(35);
    overflow: hidden;
    white-space: nowrap;
}

@keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:100ch;
    }
}


.bg-1 {
    color: #bdbdbd;
}

h3 {
    margin: 10px 0 30px 0;    
    font-size: 20px;
    color: #111;
}

.card {
    width: 100%;
    margin-bottom: 10px;
}

.card .card-text {
    color: black;
    font-family: 'Playfair Display';
    text-align: center;
}

.unchecked {
    color: grey;
}

.spare {
    background-color: white;
    color:black;
}

.message {
    font-size: 30px;
}

/*  */

.* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column2 {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row2 {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 800px) {
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    background-color: #444;
    color: white;
    font-size: 20px;
  }
  
  .fa {font-size:50px;}

  .rating {
      font-size: 30px;
  }